body {
  margin-left: 20px;
  background: #efefef;
}

.chat {
  background-color: rgb(123, 215, 123);
  padding: 20px;
  border-radius: 16px;
  display: inline-block;
}

.msg {
  background-color: dodgerblue;
  color: white;
  padding: 5px 15px;
  border-radius: 16px;
}